<% provide(:title, '詳細一覧,発送') %>
<h3>発送 > 詳細一覧</h3>
<div class="row header">
  <div class="col-xs-12 col-md-7">商品名</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-4 col-md-1 text-center">送料</div>
  <div class="col-xs-4 col-md-1 text-center">保険料</div>
  <div class="col-xs-4 col-md-1 text-center">関税</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-md-2 text-right">
    <%= link_to "New", new_shipment_shipment_detail_path, remote: true, class: "btn btn-default" %>
  </div>
</div>
<div class="row" id="shipment_detail-form" style="display:none;"></div>
<div id="shipment_details">
<%= render @shipment_details %>
</div>

<div class="form-group">
  <div class="col-sm-12 text-right">
    <%= link_to "戻る", shipments_path, class: "btn btn-default" %>
  </div>
</div>

<%= render 'shared/popup' %>