<% provide(:title, '一覧,発送詳細') %>
<h3>発送詳細一覧</h3>
<%= will_paginate %>
<div class="row header">
  <div class="col-xs-4 col-md-2">商品ID</div>
  <div class="col-xs-8 col-md-6">商品名</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-4 col-md-2">コスト</div>
  <div class="col-xs-8 col-md-2 text-right">
    <%= link_to "新規", new_shipment_shipment_detail_path, class: "btn btn-default" %>
  </div>
</div>
<%= render @shipment_details %>
<%= will_paginate %>