<% provide(:title, 'ロード,オークション') %>
  <div class="title">
    <h4>オークションロード</h4>
    <div class="new">&nbsp;</div>
  </div>
  <div class="form">
    <%= render 'shared/auction_new_form' %>
  </div>
<%= link_to "Yahoo! JAPAN でlogin", "/auth/yahoojp" %>