<% provide(:title, '表示,オークション') %>
<h3>オークション表示</h3>
<%= render :partial => 'auction_show', locals: {auction: @auction} %>

<div class="form-group">
  <div class="col-sm-12 text-right">
    <%= link_to "戻る", auctions_path, class: "btn btn-default" %>
  </div>
</div>
