<% provide(:title, '一覧,ユーザー,マスタ管理') %>
<h3>ユーザー一覧</h3>
<%= will_paginate %>
<div class="row header">
  <div class="col-xs-2 col-md-2">名前</div>
  <div class="col-xs-8 col-md-7">メールアドレス</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-md-3 text-right"><%= link_to "New", new_user_path, class: "btn btn-default" %></div>
</div>
<%= render @users %>
<%= will_paginate %>