<% provide(:title, '表示,ユーザー,マスタ管理') %>
<h3>ユーザー表示</h3>
<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-2">名前</div>
    <div class="col-sm-10"><%= @user.name %></div>
  </div>

  <div class="form-group">
    <div class="col-sm-2">メールアドレス</div>
    <div class="col-sm-10"><%= @user.email %></div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <%= link_to "戻る", :back, class: "btn btn-default" %>
    </div>
  </div>
</div>