<% provide(:title, '表示,ユーザー,マスタ管理') %>
  <div class="title">
    <h4>ユーザー表示</h4>
    <div class="new">&nbsp;</div>
  </div>
  <div class="form">

    <div class="formRow">
      <div class="formCell1">名前</div>
      <div class="formCell2"><%= @user.name %></div>
    </div>

    <div class="formRow">
      <div class="formCell1">メールアドレス</div>
      <div class="formCell2"><%= @user.email %></div>
    </div>
      
  </div>
