<% provide(:title, '表示,カスタム') %>
<h3>カスタム表示</h3>
<%= render :partial => 'custom_show', locals: {custom: @custom} %>

<div class="form-group">
  <div class="col-sm-12 text-right">
    <%= link_to "戻る", customs_path, class: "btn btn-default" %>
  </div>
</div>