<div class="row">
  <div class="col-sm-1">
    <%= custom.is_auction == 1 ? "◯" : "-" %>
  </div>
  <div class="col-sm-2">
    <%= link_to custom.custom_id, popup_custom_path(custom_id: custom.custom_id), \
        'remote' => true, 'data-toggle' => "modal", 'data-target' => "#popupModal", \
        'class' => "" %>
  </div>
  <div class="col-sm-7">
    <%= custom.custom_name %>
  </div>
  <div class="col-sm-2 text-right">
    <%= commas_help(custom_total_cost_help(custom.custom_id)) %>円
  </div>
</div>