<div class="row">
  <div class="col-xs-3 col-md-1">
    <%= modu.modu_id %>
  </div>
  <div class="col-xs-9 col-md-8">
    <%= modu.modu_name %>
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-md-3 text-right">
    <%= link_to "編集", edit_brand_modu_path(modu_id: modu.modu_id), class: "btn btn-default" %>
    <%= link_to "削除", brand_modu_path(modu_id: modu.modu_id), \
                        method: :delete, data: { confirm: "削除しますか?" }, \
                        class: "btn btn-default"%>
  </div>
</div>