<% provide(:title, '一覧,モデル,マスタ管理') %>
  <div class="title">
    <h4>モデル</h4>
    <div class="new">
      <%= link_to "新規", new_brand_modu_path, class: "btn custom_btn" %>
    </div>
  </div>
  <%= will_paginate %>
  <div class="divTable">
    <div class="header divRow">
      <div class="divCell1">ID</div>
      <div class="divCell2">名称</div>
      <div class="divCell3">&nbsp;</div>
    </div>
    <%= render @modus %>
  </div>
  <%= will_paginate %>
