<% provide(:title, '一覧,商品') %>
<h3>商品一覧</h3>
<%= will_paginate %>
<div class="row header">
  <div class="col-xs-12 col-md-2">ID</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-md-5">商品名称</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-md-2">内外区分</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-md-3 text-right">
    <%= link_to "新規", new_product_path, class: "btn btn-default" %>
  </div>
</div>
<%= render @products %>
<%= will_paginate %>